@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoint-mixins" as *;
@use "../../styles/partials/flex-mixin" as *;
@use "../../styles/partials/fade-in-mixin" as *;

.forecast-item {
  animation: fade-in 1s;
  margin-bottom: 2rem;

  &__heading {
    color: $white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0.75rem 0 0.5rem 0.25rem;
    text-transform: uppercase;
  }

  &__container {
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem $blue;
    padding: 0.25rem 0.75rem;
  }

  &__asteroid-counts {
    @include flex($justify: space-between);
  }

  &__text {
    margin: 0.5rem 0;

    &--danger {
      color: $red;
      font-weight: 500;
    }
  }

  &__btn-container {
    @include flex($direction: column, $justify: flex-end);
    margin-bottom: 0.5rem;
  }

  &__list {
    animation: fade-in 1s;

    &--closed {
      display: none;
    }
  }
}
