@use "../../styles/partials/breakpoint-mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/container-mixin" as *;
@use "../../styles/partials/fade-in-mixin" as *;

.forecast {
  padding: 0 $small-pad;

  &__container {
    @include page-container;
  }

  &__card {
    animation: fade-in 1s;
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem $blue;
    margin: 1.5rem auto 2rem auto;
    max-width: 400px;
    padding: 0.25rem 1.25rem;

    @include tablet {
      margin-top: 3rem;
    }
  }
}
