@use "../styles/partials/breakpoint-mixins" as *;
@use "../styles/partials/variables" as *;

.forecast {
  padding: 0 $small-pad;

  &__container {
    @include tablet {
      margin: 0 auto;
      max-width: $medium-container-max-width;
      padding: $small-pad;
    }

    @include desktop {
      max-width: $large-container-max-width;
    }
  }

  &__heading {
    margin: $small-margin 0;

    @include tablet {
      margin: $med-margin 0;
    }
  }

  &__date-range {
    margin: 0.5rem 0;

    @include tablet {
        margin: $med-margin 0;
    }
  }
}
