@use "../styles/partials/breakpoint-mixins" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/container-mixin" as *;

.forecast {
  padding: 0 $small-pad;

  &__container {
    @include page-container;
  }

  &__summary {
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem $blue;
    margin: 1.5rem auto 2rem auto;
    max-width: 400px;
    padding: 0.25rem 0.75rem;

    @include tablet {
      margin-top: 3rem;
    }
  }

  &__heading {
    margin: $small-margin 0;

    @include tablet {
      margin: $med-margin 0;
    }
  }

  &__date-range {
    margin: 0;
  }

  &__week {
    max-width: 400px;
    margin: 0 auto;

    @include tablet {
      margin: 2rem auto 0 auto;
    }
  }
}
