@use "../styles/partials/variables" as *;

.display-btn {
  background-color: $white;
  border: none;
  border-radius: 50%;
  line-height: 0.7;
  padding: 0;

  &--open {
    transform: rotate(180deg);
  }
}
