@use "../styles/partials/variables" as *;

.display-btn {
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 0.7;
  padding: 0;
  transition: all 0.15s;

  &--closed {
    transform: rotate(-180deg);
  }
}
