@use "../styles/partials/variables" as *;

.site-header {
  &__heading {
    font-family: "Racing Sans One", "Open Sans", Arial, sans-serif;
    font-weight: 400;
  }

  &__link {
    color: $primary-text;
    text-decoration: none;
  }
}
